* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
}
body{
    margin: 0px;
    padding: 0;
    border: 0;
}
.first-part {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.image {
    height: 4rem;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    background-position:100%;
    top: 0;
}

.nav {
    margin-top: 3.5rem;
    display: flex;
}

.logo {
    height: 4rem;
    width: 12rem;
    /* width: 100%; */
    margin-right: 12rem;
}

.login {
    font-size: 1rem;
    padding-top: 25px;
    padding-left: 28px;
    padding-right: 28px;
    font-weight: bold;
    cursor: pointer;
}

.login:hover {
    color:#fc8019;
}

.signup {
    height: 40px;
    width: 55px;
    margin-top: 18px;
    /* padding-left: 28px;
    padding-right: 28px; */
    font-size: 1rem;
    padding: 0px 28px;
    background-color: black;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.titles {
    margin-top: 65px;
    line-height: 50px;
    font-size: large;
}

.titles .title h1{
    margin: 0;
}

span{
    display: inline-block;
    display: none;
}

span.text-in {
    display: block;
    animation: textIn .5s ease;
}

@keyframes textIn {
    0% {
        transform: translateY(40%);
    }
    100% {
        transform: translateY(0%);
    }
}

.text {
    font-weight: 20;
    font-size: 25px;
    line-height: 40px;
    color: grey;
}

.search-engine {
    height: 60px;
    width: 600px;
    margin-top: 40px;
    border: 1px solid #a9abb2;
    display: flex;
    align-items: center;
}

.search-text {
    height: 60px;
    border: none;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 100px;
    font-weight: bold;
}

.locate {
    height: 40px;
    width: 100px;
    padding: 0px 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.locate:hover {
    background-color: rgba(80,80,80,0.15);
}

.find-food button {
    height: 60px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fc8019;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.text1 {
    color: #a9abb2;
    font-size: 15px;
    margin: 30px 0px 10px;
}

.text2 {
    width: 570px;
    height: 48px;
    font-weight: bold;
    line-height: 1.5;
    font-size: 16px;
}

.text-2 {
    margin-right: 6px;
    text-decoration: none;
    color: #686b78;
}

.text--2 {
    margin-right: 6px;
    text-decoration: none;
    color: #93959f;
}

.part {
    margin-top: 29.35rem;
    background-color: #2b1e16;
    height: 395px;
    display: flex;
    justify-content: space-evenly;
}

._images img {
    height: 199px;
    width: 125px;
    padding: 0px 60px;
    margin-bottom: 42px;
    background-size: cover; 
}

.sub_parts {
    height: 323px;
    width: 260px;
}

.p1{
    color: white;
    font-size: 20px;
    text-align: center;
}

.p2 {
    color: #e0cbc1;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}

._3part {
    height: 570px;
    display: flex;
}

.text_3part {
    height: 208px;
    width: 400px;
}

.p1_3part {
    color: #282c3f;
    font-size: 40px;
    font-weight: bold;
}

.p_3part {
    font-size: 20px;
    color: #7e808c;
    padding: 20px 0px 60px;
}

.store1 img {
    height: 54px;
    width: 180px;
    cursor: pointer;
}

.text_3part {
    margin-top: 150px;
    margin-left: 130px;
    margin-right: 80px;
}

.pics_3part {
    width: 768px;
    height: 978px;
    display: flex;
}

.mobile_2 {
    margin-top: 80px;
}

.pics_3part img {
    height: 489px;
    width: 768px;
}

.footer {
    height: auto;
    background-color: black;
}

.body_footer {
    margin: 0px 100px;
    padding-top: 72px;
}

.part1_footer {
    height: 407px;
    width: 100%;
    border-bottom: 1px solid #a9abb2;
    display: flex;
}

.heading {
    color: #808080;
    font-size: 15px;
    font-weight: bold;
}

.part1_1 {
    width: 400px;
}

.part1_2 {
    width: 400px;
}

.part1_3 {
    width: 500px;
    margin-right: 50px;
}

.part1_1_texts {
    margin-top: 35px;
}

#text {
    color: white;
    margin-top: 15px;
    cursor: pointer;
}

#text:hover {
    font-size: 18px;
}

.part1_4 img {
    width: 200px;
    height: 65px;
    margin-bottom: 25px;
    border: 1px solid white;
    border-radius: 5%;
    cursor: pointer;
}

.part1_4_img:hover {
    width: 210px;
    height: 68px;
}

.part2_footer {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #a9abb2;
}

.part3_footer {
    padding: 30px 0px;
    display: flex;
}

.logo_part3footer img{
    height: 42px;
    width: 142px;
    cursor: pointer;
}

.copyright p {
    width: 842px;
    height: 24px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.iconsfooter {
    height: 27px;
    width: 216px;
    display: flex;
    justify-content: space-between;
}

.iconsfooter img {
    height: 24px;
    width: 24px;
    cursor: pointer;
}
